; This configuration file is intended to give the user of tcpanon
; an easy way to setup the behaviour of the program.
; Ideally the file could contain a section for each protocol,
; anyway the only section needed so far if the http one.

[http]
; Basically we'd like to define how to anonymize some fields:
; the choice is between (keep) ALL, TAG and NONE.
; The correct syntax is (trailing spaces are removed):
; tag/field_name :/=   ALL/TAG/NONE
; Examples:
;
; Host: ALL  applied to 'Host: 192.168.1.1' gives 'Host: 192.168.1.1'
; Host: TAG  applied to 'Host: 192.168.1.1' gives 'Host: xxxxxxxxxxx'
; Host: NONE applied to 'Host: 192.168.1.1' gives 'xxxxxxxxxxxxxxxxx'
;
; Actually 'NONE' is the default policy for all not specified fields:
; this because we're trying to anonymize and so we want the user to
; clearly set what to leave. 

Host:	TAG
User-Agent:	TAG
Cookie:	tag
Referer:	TAG
Content-Type:     ALL
Accept-Charset:   ALL
Accept-Encoding:  ALL
Accept-Language:  ALL
Content-Length:   ALL
Keep-Alive :      ALL
;this does not have the semicolon
;HTTP/1: False
